
.header{
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  font-family:'Courier New', Courier, monospace;
}

.options{
  display: flex;
  flex-direction: row;
  gap: 25px;
  place-content: center;
  place-items: center;
  padding: 32px 20px 5px;
  background-color: pink;
}

.filter-section{
  display: flex;
  flex-direction: row;
  gap: 25px;
  place-content: center;
  place-items: center;
  padding: 32px 20px 5px;
  background-color: pink;
}

.sort-section{
  display: flex;
  flex-direction: row;
  gap: 25px;
  place-content: center;
  place-items: center;
  padding: 32px 20px 5px;
  background-color: pink;
}

/* .movie-cards{
  width: 100%;
  background-color: purple;
  box-sizing: border-box;
  margin-top: 2rem;
} */

.movie-layout.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));  
  gap: 2rem;
  background-color: lightgray;
  max-width: 95rem;
  margin: 0 auto;
}

.movie-layout.grid .card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-layout.grid .card .movie-info{
  text-align: center;
}

.movie-layout.grid .card img {
  width: 20rem;
  height: auto;
  object-fit: cover;
}

.movie-layout.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.movie-layout.list .card{
  display: flex;
  flex-direction: row;
}

.movie-layout.list .card img {
  width: 8rem;
  height: auto;
  object-fit: cover;
}

/* .card{
  background-color: blue;
} */

